*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffffc2;
    border: 0 20px 20px 0;
    min-height: 5rem;
    max-width: 100;
    margin: 15px 10px 10px 15px;
    box-shadow: 0 0 10px 0 #010101;
    word-spacing: 2px;
    color: #447ee9;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 400px;
    margin: 10px 10px 0px 15px;
    
   }

.image{
    flex: 1;
    margin: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px 0 #010101;
}
.image img{
    width: 70%;
    height: 100%;
    object-fit: cover;

}
.text{
    margin-left: 15px;
    font-size: 25px;

}
.link{
    margin: 20px 0px 20px 15px;
    background-color: white;

}
.button{
    margin: 20px 0px 20px 15px;
    background-color: white;
}



    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    






